@import "../../index.scss";

.landing {
  height: 100vh;
  width: 100%;
  background-image: url("https://image.tmdb.org/t/p/w1280/9wXPKruA6bWYk2co5ix6fH59Qr8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
